.white {
  color: white;
}

[class|="wheelnav-wheelDiv-slice-basic"],
[class|="wheelnav-wheelDiv-slice-selected"] {
  fill: #0c7dc1;
  stroke: whitesmoke;
  stroke-width: 1;
}
[class|="wheelnav-wheelDiv-slice-hover"] {
  fill: #1665ac;
  stroke: whitesmoke;
  stroke-width: 1;
  cursor: pointer;
}

[class|="wheelnav-wheelDiv-title"] > tspan {
  fill: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
  stroke: none;
}
